body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.Nav {
  background: #454545;
  color: #fff;
  width: 225px;
  display: flex;
  flex-direction: column;
}

.Nav + * {
  display: flex;
  flex: 1;
}

.User {
  padding: 20px;
  display: flex;
  align-items: center;
}

.UserImage {
  border-radius: 50%;
  margin-right: 10px;
  height: 32px;
}

.text-button {
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  display: inline;
  cursor: pointer;
  font-size: 80%;
  color: white;
}

.ChannelNav a {
  font-size: 90%;
  padding: 8px 20px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.ChannelNav a.active {
  background: hsl(30, 50%, 50%);
}

.Channel {
  flex: 1;
  display: flex;
}

.ChannelMain {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ChannelInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bold;
  border-bottom: solid 1px #ccc;
}
